<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node pkg="ntrip_ros" type="ntripclient.py" name="ntrip_ros" output="screen">
 	 <param name="rtcm_topic" value="/ublox_gps/rtcm"/>
 	 <param name="ntrip_server" value="gnssdata.or.kr:2101"/>
 	 <param name="ntrip_user" value="dolpins123@naver.com"/>
 	 <param name="ntrip_pass" value="gnss"/>
 	 <param name="ntrip_stream" value="SOUL-RTCM31"/>
 	 <param name="nmea_gga" value="$GPGGA,054602.268,3732.496,N,12704.730,E,1,12,1.0,0.0,M,0.0,M,,*6D"/>  </node>
</launch>

